//fonts
$azbuka: 'Azbuka06', sans-serif;
$segoe: 'Segoe-UI', sans-serif;
$segoe-smb: 'Segoe-UI-Semibold', sans-serif;
$segoe-b: 'Segoe-UI-Bold', sans-serif;
$segoe-l: 'Segoe-UI-Light';

//colors
$btn-red: #a71a40;
$txt-red: #7a0026;
$main-txt-clr: #006c84;
$bg-blue: #e9f2fc;

//media
$md: 768px;
$lg: 992px;
$xl: 1200px;